<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <appender name="Excepciones" type="log4net.Appender.RollingFileAppender">
    <file value="Excepciones.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <datePattern value="yyyyMMdd" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
  </appender>
  <appender name="Bitacora" type="log4net.Appender.FileAppender">
    <file value="Bitacora.txt" />
    <datePattern value="yyyyMMdd" />
    <appendToFile value="true" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="Excepciones" />
  </root>
  <logger additivity="false" name="Bitacora">
    <level value="DEBUG"/>
    <appender-ref ref="Bitacora" />
  </logger>
</log4net>